# Centralized env file that allows us to easily call dotenv.config() from any file within the root directory
# Since we start our services from the root directory w/ pnpm --filter <package_name> <script_command>
######################
## Frontend ###########
######################

######################
## Backend API ###########
######################

######################
## Scraper ###########
######################
# OpenAI API Key
OPENAI_API_KEY="sk-YourSecretKeyGoesHere"

# PostgreSQL Database Connection
DB_HOST=host.docker.internal # or localhost
DB_PORT=5432
DB_USER=myuser
DB_PASSWORD=mypassword
DB_NAME=mydatabase

# Host is host.docker.internal in the case that docker is running containers with Hyper V
# But it is just localhost in the case that its running containers in a WSL distro
DATABASE_URL=postgresql://myuser:mypassword@host.docker.internal:5432/pain_prism